:root {
  --color1: #800000;
  --color2: #008000;
  --color3: #808000;
  --color4: #FFFF00;
  --color5:#FFA500;
  --color6:#FFFFFF;
  --bgcolor1: #87CEFA;
  --bgcolor2: #FFC0CB;
  --bgcolor3: #00FFFF;
  --bgcolor4: #E0E0E0;
  --bgcolor5: #98FB98;
  --bgcolor6: #007bff;
  --bgcolor7: #000000;
}


/* common class start here */
.container, .container-fluid{
  width:99vw;
  position: relative;
  /* background: var(--bgcolor5) !important; */
}

.layout-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;  
}

@media (max-width: 480px) {
  .layout-grid-3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;  
  }
}

.ContainerMenu, .topBar{
  height: 86px !important;
}
.nav-item{
  height:50px;
}
.nav-link{
  text-transform: uppercase;
  padding-right: 20px !important;
  font-size: 20px;
}

.nav-link::after{
  position:relative;
  content: "";
  height: 40px;
  top: -34px;
  left: 0px;
  border-bottom: 3px solid var(--bgcolor2);
  border-top: 3px solid var(--bgcolor1);
  display: inline-block;
  width: 100%;
  opacity: 0;
}

.nav-link:hover:after{
  opacity: 1;
  animation: anim1 1s linear;
  -webkit-animation: anim1 0.5s linear;
  animation-direction: reverse;
}

@keyframes anim1 {
  0%{
    width: 100%;
  }
  50%{
    width: 50%;
  }
  100%{
    width: 0%;
  }
}

.p-not-active{
  display: none;  
  }

  .startAnimation{
    animation: anim2 ease-in 1s forwards;
    -webkit-animation: anim2 ease-in 1s forwards;
}

@keyframes anim2 {
  0%{
    transform: translateX(-800px);
    -webkit-transform: translateX(-800px);
    -moz-transform: translateX(-800px);
    -ms-transform: translateX(-800px);
    -o-transform: translateX(-800px);
}
  100%{
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}
}

.CounterArea > .container{
  background: linear-gradient(to right, rgba(0,0,0,0.8),rgba(0,0,0,0));
  height: auto;
  background-size: cover;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  
  /* align-items: flex-start; */
}

.CounterArea .row{
  width: 100%;
}


.secCarousel, .carousel-inner, .carousel-item{
  height: 220px !important;
}
.carousel-item {
  position: relative;  
}

.navbar{
    top: 0px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.carousel-caption{
  background: var(--bgcolor5) !important;
  height: 170px;
  padding: 20px;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;  
}

.carousel-item > .carousel-caption {
  position: absolute;
  top: 10px;
  left: 20px !important;
  width: 360px;
  text-align: left !important;
}

.carousel-caption > button {
  background: var(--color2) !important;
  color: var(--color6) !important
}

.carousel-control-prev, .carousel-control-next{
  position: absolute !important;
  top: 185px !important;  
}

.CustomCard{
  margin: 0px auto !important;
}

.customIcon {
  font-size: 30px !important;
  color: var(--bgcolor5) !important;
}

.carousel-control-prev {
  z-index: 99999 !important;
}

.flex-prop-center{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.btn_custom{
  padding: 0px !important;
}

.customStore {
  background: linear-gradient(to right, rgba(0,0,0,0.8),rgba(0,0,0,0)), url(../images/img12.jpg) no-repeat 0 0;
  height: 200px;
  background-size: cover;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Parallax1{
  background: url(../images/parallax_1.jpg) no-repeat 0 0;
  height: 320px !important; 
  background-size: cover;
  padding: 20px 0px;
  background-attachment: fixed;
  background-position: center;
}

.Parallax2{
  background: url(../images/parallax_2.jpg) no-repeat 0 0;
  height: 300px !important; 
  background-size: cover;
  padding: 20px 0px;
  background-attachment: fixed;
  background-position: center center;
}

.caption1, .caption2{
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--bgcolor4);
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}

.card-header > a {
  color: #FFF !important;
}

/* Customizing default menubar */
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  /* background-color: var(--bgcolor5); */
  color: var(--bgcolor4);
  /* border-bottom: 3px solid var(--bgcolor2); */
}

/* Jquery plugin slider */
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.slide1 {
  background: linear-gradient(to right, rgba(255,0,0,0.8),rgba(255,0,0,0)), url(../images/img10.jpg) no-repeat 0 0;
  height: 300px !important;
  color: #FFF;
  display:flex;
  flex-direction: column;
  justify-content: center;  /* vertical align  */
  align-items: center;    /* Horizontal align  */
}

.slide2 {
  background: linear-gradient(to right, rgba(255,0,0,0.8),rgba(255,0,0,0)), url(../images/img11.jpg) no-repeat 0 0;
  height: 300px !important;
  color: #FFF;
  display:flex;
  flex-direction: column;
  justify-content: center;  /* vertical align  */
  align-items: center;    /* Horizontal align  */
}

.slide3 {
  background: linear-gradient(to right, rgba(255,0,0,0.8),rgba(255,0,0,0)), url(../images/img13.jpg) no-repeat 0 0;
  height: 300px !important;
  color: #FFF;
  display:flex;
  flex-direction: column;
  justify-content: center;  /* vertical align  */
  align-items: center;    /* Horizontal align  */
}

.toast{
  /*opacity: 1 !important;
  */
}

@keyframes anim1 {
  100%{
    width: 0;
  }
}

.alignRight{
  position: absolute;
  right: 0;
}

.fixedBR{
  position: fixed; 
  bottom: 10px; 
  right: 0px;
}

#myToast::after{
  content: "";
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #800000;
  animation:anim1 5s linear;
  -webkit-animation:anim1 5s fade;
}














